{
  "presets": [
    ["@babel/preset-env", {
        "modules": false,
        "targets": "> 0.25%, not dead",
        "loose": true,
        "forceAllTransforms": true
    }]
  ],
  "plugins": [ "transform-promise-to-bluebird", "@babel/plugin-transform-runtime" ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
