# Salt string for hashing passwords (generate one by `openssl rand -hex <length>`)
SALT=

# DB credentials
POSTGRES_DB=0chan
POSTGRES_USER=user
POSTGRES_PASSWORD=

# Admin account credentials. Password must be at least 8 characters!
ADMIN_LOGIN=
ADMIN_PASSWD=

# Gate users identification key (generate one by `openssl rand -hex <length>`)
#LOCALGW_KEY=

# Subdomain for media
MEDIA_SUBDOMAIN=s01

# Uncomment to enable torgate (and use `svc.torgate.enable=true` helm option)
#TORGATE_HOSTNAME=yourhost.onion
#TORGATE_PUBLIC_KEY=ed25519_public_key_in_base64
#TORGATE_PRIVATE_KEY=ed25519_private_key_in_base64

# Uncomment to enable I2Pgate (and use `svc.i2pgate.enable=true` helm option)
#I2PGATE_PRIVATE_KEY=dat_private_key_in_base64

# Uncomment to enable Yggdrasil Network gate (and use `svc.yggdrasilgate.enable=true` helm option)
#YGGDRASILGATE_PRIVATE_KEY=private_key_in_default_format

# production mode (0=dev, 1=prod)
PROD=1
